# Python Essentails

In [ ]:
print("hello world")

In [ ]:
# shift + enter --> to execute the current cell and go to next cell (if there is no cell, create a new one)
# escape - enter the command mode
# enter - enter the edit mode
 
# command mode
# b --> to insert a new cell below the current cell
# a --> to inset a new cell above the current cell
# d+d --> to delete a cell
# m --> convert the code cell to markdown cell
# y --> convert the markdown cell back to code cell

## Heading 2
### HEADING 3
#### Heading 4

Text

- points
- point 2
- pont 3

In [ ]:
# Rename the notebook
# practice keyboard shortcuts
# explore code and markdown cell

# Variables in Python Programming

In [ ]:
x = 100

In [ ]:
print(type(x))

In [ ]:
# Rules of variable
# case sensitive
x = 10
X = 99
print(x)
print(X)

In [ ]:
x_123 = 500
print(x_123)

In [ ]:
1x = 200

In [ ]:
_x = 500
print(_x)

In [ ]:
# Keywords --> already has a pre-defined meaning
import keyword
print(keyword.kwlist)

In [ ]:
def = 99

In [ ]:
# DevOps
db_host = "localhost"
db_user = "admin"
app_port = 8080
db_password = 'password123'

In [ ]:
#MLOps AIOps
learning_rate = 0.001
batch_size = 8
num_epochs = 10

In [ ]:
print(type(db_host))

In [ ]:
print(type(db_password))

In [ ]:
print(type(learning_rate))

In [ ]:
is_prod = True
print(type(is_prod))

In [ ]:
is_dev = False
print(type(is_dev))

In [ ]:
# Python list
# consists of collection of elements enclosed within square brackets
# can contain the elements from any data type
l1 = [10,20, "hello", 25.52, True]
print(type(l1))
print(l1)

In [ ]:
model_1 = ["logisticregression", 0.05,0.95] # example from mlops

In [ ]:
# Python tuple
# consists of collection of elements enclosed within round brackets
# can contain the elements from any data type

In [ ]:
t1 =(10,20, "hello", 25.52, True)
print(type(t1))
print(t1)

In [ ]:
# Python dict
# consisting of key value pairs
d1 = {"name": "Nachiketh", "role":"instructor", "exp":10}
print(type(d1))
print(d1)

In [ ]:
x = 10 # assign the value 10 to x

In [ ]:
x = """ hello welcome
to
data science
python"""

In [ ]:
print(type(x))

In [ ]:
""" line 1
line 2
line 3 """ 

x = 20

In [ ]:
#method 2

''' This is
an
example
multi
line comment'''
x = 20
print(x)

In [ ]:
y = ''' This is
an
example
multi
line comment'''

In [ ]:
print(type(y))

# Operators in Python

### Arithmetic Operators

In [ ]:
# Arithmetic Operators
a = 10
b = 5

addition = a + b
print(addition)

In [ ]:
subtraction = a - b
print(subtraction)

In [ ]:
mulitiply = a * b
print(mulitiply)

In [ ]:
div = a/b
print(div) # float

In [ ]:
exp = a**b
print(exp)

In [ ]:
mod = a%b
print(mod) # 10/5 --> return remainder

In [ ]:
# Floor division -->return integer
floor = a//b
print(floor) # int

### Assignent Operators

In [ ]:
x = 5 # assignment of value
print(x)

In [ ]:
# add and assign
x += 3 # x = x+3
print(x)

In [ ]:
# subtract and assign
x -= 2
print(x)

In [ ]:
# multiply and assign
x *= 2
print(x)

In [ ]:
# divide and assign
x /= 3
print(x)

### Comparison Opreators

In [ ]:
a  = 10
b = 5
print(a==b) # equal to

In [ ]:
print(a!=b) # not equal

In [ ]:
print(a>b) # greater than

In [ ]:
print(a<b) # lesser than

In [ ]:
print(a>=b) # greater than or equal to

In [ ]:
print(a<=b) # less than or equal to

### Logical Operators

In [ ]:
x = True
y = True
z = False

In [ ]:
# logical and
print(x and y)

In [ ]:
print(x and z)

In [ ]:
print(z and z)

In [ ]:
#  Logical or
print(x or y)

In [ ]:
print(x or z)

In [ ]:
print(z or z)

In [ ]:
# Logical not
# unary operator
print(not x)

In [ ]:
print(not z)

### Bitwise Operators

In [ ]:
a = 5
b = 3

# and
print(a & b)

In [ ]:
print(a | b)   # or

In [ ]:
print(a^b) # bitwise XOR

In [ ]:
print(~a) # bitwise not

### Membership Operators

In [ ]:
l1 = [1,2,3,4,5,6]
#in
print(3 in l1)

In [ ]:
print(10 in l1)

In [ ]:
# not in
print(3 not in l1)

In [ ]:
print(10 not in l1)

### Identity Operators

In [ ]:
a = [1,2,3]
b = a
c = [1,2,3]

print(a is b)

In [ ]:
print(a is c)

In [ ]:
print(id(a), id(b), id(c))

### MLOps /DevOps Context with Operators

In [ ]:
num_records = 1000
batch_size = 64

num_batches = num_records // batch_size
print("Number of batches needed:", num_batches) # calcualte the number of batches for processing

In [ ]:
# Calculate the remaining records after processing in batches
remaining_records = num_records % batch_size
print("Remaining records after processing in batches:", remaining_records)

In [ ]:
# Assignment Operators
# MLOps Variable Example for Assignment Operators
learning_rate = 0.001
epochs = 10

# Adjust learning rate based on epochs
learning_rate *= (1 / (epochs * 0.1))
print("Adjusted learning rate:", learning_rate)

In [ ]:
# Comparision Operators
# MLOps Variable Example for Comparison Operators
accuracy_threshold = 0.95
validation_accuracy = 0.98

# Check if validation accuracy meets the threshold
is_accurate = validation_accuracy >= accuracy_threshold
print("Model accuracy meets threshold:", is_accurate)

In [ ]:
total_servers = 10
servers_deployed = 7

# Calculate the number of servers yet to be deployed
servers_remaining = total_servers - servers_deployed
print("Servers remaining to be deployed:", servers_remaining)

In [ ]:
# DevOps Variable Example for Assignment Operators
deployment_count = 0

# Increment deployment count
deployment_count += 1
print("Deployment count:", deployment_count)

# Decrement deployment count
deployment_count -= 1
print("Deployment count after rollback:", deployment_count)

In [ ]:
#  Logical Operators
is_trained = True
is_validated = False

# Check if model is trained and validated
is_deployable = is_trained and is_validated
print("Model is deployable:", is_deployable)

In [ ]:
# Membership Oprators

supported_frameworks = ["TensorFlow", "PyTorch", "scikit-learn"]
framework = "TensorFlow"

# Check if a framework is supported
is_supported = framework in supported_frameworks
print("Is framework supported:", is_supported)

In [ ]:
# DevOps Variable Example for Membership Operators
allowed_users = ["user1", "user2", "user3"]
user = "user2"

# Check if user is allowed
is_allowed = user in allowed_users
print("Is user allowed:", is_allowed)

In [ ]:
# Identity Operators
# MLOps Variable Example for Identity Operators
model_a = [1, 2, 3]
model_b = model_a
model_c = [1, 2, 3]

# Check if models are identical
is_same_model = model_a is model_b
print("Are model_a and model_b the same object:", is_same_model)

is_same_model = model_a is model_c
print("Are model_a and model_c the same object:", is_same_model)

In [ ]:
# DevOps Variable Example for Identity Operators
server_a = {"id": 1, "name": "server1"}
server_b = server_a
server_c = {"id": 1, "name": "server1"}

# Check if servers are identical
is_same_server = server_a is server_b
print("Are server_a and server_b the same object:", is_same_server)

is_same_server = server_a is server_c
print("Are server_a and server_c the same object:", is_same_server)

# Built-in Functions in Python

In [ ]:
# Numerical function 
x = -5.5

a = abs(x)
print(a)

In [ ]:
l1 = [1,2,3,4,5]
print(max(l1))

In [ ]:
l1 = [1,2,3,4,5]
print(min(l1))

In [ ]:
print(pow(5,6))

In [ ]:
# round
print(round(x))

In [ ]:
#String functions
a = "Hello World"
length = len(a)
print(length)

In [ ]:
print(a.upper())

In [ ]:
print(a.lower())

In [ ]:
print(a.split(" "))

In [ ]:
# List Operations
l1 = [1,2,3,4,5,6,7,8]

In [ ]:
print(len(l1))

In [ ]:
l1.append(99)
print(l1)

In [ ]:
l1.remove(1)
print(l1)

In [ ]:
l2 = [1,50,20,99,25]
l2.sort()
print(l2)

In [ ]:
# Dictioary

d = {'a':1 , 'b':2, 'c':3}
print(len(d))

In [ ]:
print(d.keys())

In [ ]:
print(d.values())

In [ ]:
print(d.items())

In [ ]:
# Type Conversion - Casting
x = "10"
print(type(x))

In [ ]:
z = int(x)
print(type(z))

In [ ]:
y = float(z)
print(type(y),y)

In [ ]:
x = "abcdef"
y = list(x)
print(y)

In [ ]:
#input/output functions
x = input("Please enter the value: ") # it will be read as a string
print(type(x))
print(x)
x = int(x)
x = 2*x
print("output is",x)

In [ ]:
# misc functions

x = range(5)
print(x)

In [ ]:
print(list(x))

In [ ]:
x = range(1,5)
print(list(x))

In [ ]:
x = list(x)

In [ ]:
print(x)

In [ ]:
print(sum(x))

In [ ]:
sorted(x)

# Sequence Operations - Strings

In [ ]:
x = "hello world!!"

In [ ]:
x

In [ ]:
len(x)

In [ ]:
# indexing
# starts from 0
x[0]

In [ ]:
x[5]

In [ ]:
x[6]

In [ ]:
# slicing
# return the subset
# [start:stop] --> start is included, and stop is excluded
x[2:5]

In [ ]:
x[3:7]

In [ ]:
x

In [ ]:
x[0] = 'y' # immutable

In [ ]:
a = 'hello'
b = 'data science'

In [ ]:
a+b

In [ ]:
a*3

In [ ]:
print(a)

In [ ]:
'e' in a

In [ ]:
x = """hello world"""
y = '''data science'''

# Sequences in Python - Lists

In [ ]:
x = [1,23,4,5,6,7,8]

In [ ]:
print(x)

In [ ]:
x[2]

In [ ]:
x[2:5]

In [ ]:
5 in x

In [ ]:
len(x)

In [ ]:
x + x

In [ ]:
x * 3

In [ ]:
x

In [ ]:
x[2] = 99
x

In [ ]:
x.pop(3)

In [ ]:
x

# Sequences in Python - Tuples

In [ ]:
t1 = (1,2,3,4,56,7)
t1

In [ ]:
t1[0]

In [ ]:
t1[1:5]

In [ ]:
t1*2 # new tuple

In [ ]:
t1+t1 # new tuple

In [ ]:
# immutable
t1[2] = 99

In [ ]:
len(t1)

In [ ]:
10 in t1

# Sequences in Python - Dict

In [ ]:
person = {'name': 'John', 'age': 30, 'city': 'New York'}

In [ ]:
person.keys()

In [ ]:
person.values()

In [ ]:
person

In [ ]:
person['education'] = 'Engineering'
person

In [ ]:
# delete any key paid
person.pop('age')
person

In [ ]:
'name' in person

In [ ]:
len(person)

# Sequences in Python - Sets

In [ ]:
# collection of unique values, unordered collection
# enclosing inside the curly braces
s1 = {1,2,3,4,5,6,1,2,3,4,6,10}
print(type(s1))

In [ ]:
len(s1)

In [ ]:
s1

In [ ]:
s2 = {20,30,10,20,59,10,30,25.25,'hello'}
s2

In [ ]:
#doesnot support index
s1[0]

In [ ]:
s1.add(99)
s1

In [ ]:
s1.remove(3)
s1

In [ ]:
s2

In [ ]:
s1.union(s2)

In [ ]:
s1.intersection(s2)

In [ ]:
s1.difference(s2)

In [ ]:
10 in s1

# Sequences in Python - Range

In [ ]:
r = range(1,7)
print(r)

In [ ]:
list(r)

In [ ]:
3 in r

In [ ]:
9 in r

In [ ]:
len(r)

In [ ]:
r[2] # indexing

In [ ]:
r[1:4] # slicing

# Execution Control in Python - Conditional Statements

Syntax:
```python

if condition1:
    statement(s)

elif condition2:
    statement(s)
.
.
.
else:
    statement(s)

```

In [ ]:
x = 10
if x>5:
    print("x is greater than 5")

In [ ]:
x = 10
if x>5:
    print("x is greater than 5")
    print("inside the block")
print("outside the block")

In [ ]:
x = 1
if x>5:
    print("x is greater than 5")
    print("inside the block")
print("outside the block")

In [ ]:
x = 1
if x>5:
    print("x is greater than 5")
    print("inside the if block")
else:
    print("x is less than 5")
    print("inside the else block")
print("outside the block")

In [ ]:
x = 1
if x>5:
    print("x is greater than 5")
    print("inside the if block")
elif x==5 :
    print("x is equal to 5")
    print("inside the elif block")
else:
    print("x is less than 5")
    print("inside the else block")
print("outside the block")

In [ ]:
x = 10
if x>5:
    print("x is greater than 5")
    print("inside the if block")
elif x==5 :
    print("x is equal to 5")
    print("inside the elif block")
else:
    print("x is less than 5")
    print("inside the else block")
print("outside the block")

In [ ]:
x = 5
if x>5:
    print("x is greater than 5")
    print("inside the if block")
elif x==5 :
    print("x is equal to 5")
    print("inside the elif block")
else:
    print("x is less than 5")
    print("inside the else block")
print("outside the block")

In [ ]:
# Usage Logical Operators

In [ ]:
num = 15
if num > 10 and num % 2 == 1:
    print("Number is greater than 10 and odd.")
elif num < 0 or num % 2 == 0:
    print("Number is either negative or even.")
else:
    print("Number is neither greater than 10 nor odd.")

In [ ]:
# MLOPS
deployment_threshold = 0.85
model_accuracy = 0.87

if model_accuracy >= deployment_threshold:
    deploy_model = True
    # Deploy the model
else:
    deploy_model = False
    # Retrain the model or take other actions

In [ ]:
deploy_model

In [ ]:
model_A_accuracy = 0.85
model_B_accuracy = 0.82

if model_A_accuracy > model_B_accuracy:
    selected_model = "Model A"
else:
    selected_model = "Model B"

print("The selected model is:",selected_model)

# Execution Control in Python - For Loops/Statement

```python

for variable in iterable:
    statement(s)
```

In [ ]:
l1 = [1,2,3,4,5]

for i in l1:
    print("hello",i)
    print("welcome")

In [ ]:
for i in range(5):
    print(i)

In [ ]:
for var in "hello":
    print(var)

# Execution Control in Python - while Loops/Statement

```python
while (condition):
    statement(s)
```

In [ ]:
counter = 1

while counter <= 5:
    print(counter)
    counter += 1

In [ ]:
counter = 1

while counter <= 5:
    print(counter)  
    counter += 1
print("outside the loop")

In [ ]:
# Example of using a while loop in MLOps context

import numpy as np
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Generate a synthetic dataset
X, y = make_classification(n_samples=1000, n_features=20, n_classes=2, random_state=42)

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the model
model = RandomForestClassifier(random_state=42)

# Train the model
model.fit(X_train, y_train)

# Set the initial accuracy threshold and accuracy
target_accuracy = 0.90
current_accuracy = 0.0

# Monitor the model's accuracy until it reaches the target accuracy
while current_accuracy < target_accuracy:
    # Make predictions on the test set
    y_pred = model.predict(X_test)
    
    # Calculate the accuracy of the predictions
    current_accuracy = accuracy_score(y_test, y_pred)
    
    print(f"Current accuracy: {current_accuracy}")
    
    # If the current accuracy is below the target, retrain the model
    if current_accuracy < target_accuracy:
        model.fit(X_train, y_train)  # Retrain the model
    
print("Target accuracy reached!")

# Hands On  Loop Control Statements in Python Programming

In [ ]:
# break
numbers = [0,1,2,3,-5,6,4]
for num in numbers:
    print(num)
    if num<0:
        print("first negative number found",num)
        break

In [ ]:
# Print only odd numbers
for i in range(1,11):
    if i %2==0:
        continue
    print(i)

In [ ]:
# Pass
# Example: Placeholder inside a loop
for i in range(5):
    if i == 3:
        pass  # Do nothing when i is 3
    else:
        print(i)

# Exception Handling

In [ ]:
result = 10/0

In [ ]:
try:
    result = 10/0
except ZeroDivisionError:
    print("do not divide the value by zero")

In [ ]:
try:
    result = 10/0
except ZeroDivisionError:
    print("do not divide the value by zero")
finally:
    print("statement execution complete")

In [ ]:
try:
    result = 10/0
except : # catch all exception
    print("do not divide the value by zero")

In [ ]:
# Example: Division by zero exception handling

try:
    numerator = int(input("Enter the numerator: "))
    denominator = int(input("Enter the denominator: "))
    
    result = numerator / denominator
    print("Result of division:", result)

except ZeroDivisionError:
    print("Error: Division by zero is not allowed.")

except ValueError:
    print("Error: Please enter valid integer values.")

except Exception as e:
    print("An unexpected error occurred:", e)

# String Formatting

In [ ]:
# old style
name = "john"
old_style_demo = "Hello!! %s!"% name
print(old_style_demo)

In [ ]:
# str.format
name = "john"
profession = "mlops engineer"
new_style_demo = "Hello, {}!, I am glad to know that you are {}".format(name,profession)
print(new_style_demo)

In [ ]:
name = "john"
profession = "mlops engineer"
new_style_demo = "Hello, {a}!, I am glad to know that you are {b}".format(a=name,b=profession)
print(new_style_demo)

In [ ]:
# f-strings
name = "john"
profession = "mlops engineer"
f_string = f"hello, {name}, I am glad to know that you are {profession}"
print(f_string)

# User Functions in Python
Group of statements that performs a specific task.

In [ ]:
def Example(): # creation
    print("good morning")

In [ ]:
# call the function
# function_name(parameters)
Example()

In [ ]:
def Example(): # creation
    print("good morning")
    print("good afternoon")
    print("good night")

In [ ]:
Example()

### Create a Function which takes the name as parameter, and Print good morning with name

In [ ]:
def Example2(name):
    print(f"Good morning {name}")

In [ ]:
Example2("Jacob")

### See what happens when you call the above function without parameters

In [ ]:
Example2()

In [ ]:
def Example2(name):
    """ This is a example function which return good morning with name """
    print(f"Good morning {name}")

In [ ]:
Example2("Alice")

In [ ]:
help(Example2) # access the docucmentation of a function

### Create the function that accepts two numbers and print the sum

In [ ]:
def add(a1,a2):
    print(f"a1 is {a1}")
    print(f"a2 is {a2}")
    s = a1+a2
    print(f"sum is {s}")

In [ ]:
add(10,20) # positional arguments

In [ ]:
# function_name(keyworded arguments)
add(a1=10,a2=20)

In [ ]:
add(a2=10,a1=20)

### Defalt Parameter Values

In [ ]:
def add(a1,a2=30):
    print(f"a1 is {a1}")
    print(f"a2 is {a2}")
    s = a1+a2
    print(f"sum is {s}")

In [ ]:
add(10)

In [ ]:
add(a2=10)

In [ ]:
add(a1=20,a2=10)

In [ ]:
def add(a1=20,a2=30):
    print(f"a1 is {a1}")
    print(f"a2 is {a2}")
    s = a1+a2
    print(f"sum is {s}")

In [ ]:
add()

### Assign the output of Function to variable and see what happens

In [ ]:
out = add(a1=20,a2=50)

In [ ]:
print(out)

### Return Statement

In [ ]:
def add(a1=20,a2=30):
    print(f"a1 is {a1}")
    print(f"a2 is {a2}")
    s = a1+a2
    return s

In [ ]:
out = add(a1=20,a2=50)
print(out)

In [ ]:
print(out)

### Scope of Variables

In [ ]:
def add(a1=20,a2=30):
    print(f"a1 is {a1}")
    print(f"a2 is {a2}")
    s = a1+a2
    return s

In [ ]:
print(a1)

### Variable Number of Arguments
- variable number of positional arguments
- variable number of keyworded arguments

In [ ]:
# variable number of positional arguments
def add(a1=20,a2=30,*args):
    print(f"a1 is {a1}")
    print(f"a2 is {a2}")
    print(f"values in args is {args}")
    print(f"datatype of args is {type(args)}")

In [ ]:
add(1,2,3,4,5,6,7)

In [ ]:
# variable number of keyworded arguments
def add(a1=20,a2=30,**kwargs):
    print(f"a1 is {a1}")
    print(f"a2 is {a2}")
    print(f"values in args is {kwargs}")
    print(f"datatype of args is {type(kwargs)}")

In [ ]:
add(a1=20,a2=10,a3=50,a4=60,a5=100)

# Lambda functions

In [ ]:
f = lambda a : a**2

In [ ]:
f(2)

In [ ]:
f(3)

In [ ]:
f(4)

### Write a Lambda Function which takes 2 numbers and returns the multiplication of it

In [ ]:
f = lambda x,y : x*y

In [ ]:
f(20,5)

# Advanced Functions - map, filter, list & dict comprehension

### Map

This returns a modified list where every value in the original list has been changed based on a function. The example below cubes every number in the list.

In [ ]:
l1 = [1,2,3,4,5]
map(lambda x: x**3, l1)

In [ ]:
list(map(lambda x: x**3, l1))

### `filter()`

The filter() function in python takes in a function and a list of arguments

Syntax: filter(function, iterable)

In [ ]:
l1 = [1,2,3,4,5,6,7,8,9]
filter(lambda x: x%2 == 0, l1)

In [ ]:
list(filter(lambda x: x%2 == 0, l1))

### List Comprehension

syntax:

 `[expression for item in iterable]`

In [ ]:
l1

In [ ]:
[i*2 for i in l1]

### Dict working
Syntax:

`{key_expression : value_expression for value
in iterable}`

In [ ]:
l1

In [ ]:
{i*2:i**2 for i in l1}

# Modules in Python Programming

In [ ]:
import mymodule

In [ ]:
mymodule.greet("John")

In [ ]:
mymodule.square(5)

In [ ]:
mymodule.cube(5)

In [ ]:
mymodule.my_list

In [ ]:
# import specific elements
from mymodule import my_list

In [ ]:
my_list

In [ ]:
# import as alias name
import mymodule as m

In [ ]:
m.my_list

In [ ]:
m.square(2)

### Module Search Path

In [ ]:
import sys
sys.path

In [ ]:
# add new path - sys.path.append() # specify the new location

In [ ]:
import food

In [ ]:
food.pick()

# Regular Expressions

Game: 

- https://regexone.com/
- https://regexcrossword.com/

In [ ]:
import re

In [ ]:
help(re)

In [ ]:
re.search("[0-9]","foo123bar")

In [ ]:
re.search("[0-9][0-9]","foo123bar")

In [ ]:
re.search("[0-9][0-9][0-9]","foo123bar")

In [ ]:
print(re.search("[0-9][0-9][0-9][0-9]","foo123bar"))

In [ ]:
print(re.search('[0-9][0-9][0-9]', '234bazyfejgkou9ejfj8477566556ofakjfhj'))

In [ ]:
print(re.search('[0-9][0-9][0-9][0-9]', '234bazyfejgkou9ejfj8477566556ofakjfhj'))

In [ ]:
print(re.search('[a-z][0-9][0-9][0-9][0-9]', '234bazyfejgkou9ejfj8477566556ofakjfhj'))

In [ ]:
# re.match - search from start of the string
mystring = 'Here is an absolute ab string'

print(re.match('He', mystring))
print(re.match('er', mystring)) # Searches from start of string
print(re.search('ab', mystring))
print(re.search('er', mystring))

In [ ]:
# Return all the matching patterns
print(re.findall('ab', 'Here is an absolute string with another absolute and what about nothing'))

In [ ]:
print(re.sub('[ab]', '*', 'abcde abcdef abcdef'))

In [ ]:
print(re.sub('ab', '*', 'abcde abcdef abcdef'))

In [ ]:
mystring = "Hello John, Welcome to Manifold AI Learning"
print(re.findall("[a-zA-Z]+",mystring))

In [ ]:
print(re.search("[a-zA-Z]+",mystring))

In [ ]:
mystring = 'abc_xyz@gmail.com. Please communicate at your convenience. My alternate email id is mayank.parikh@abc.xyz'
print(re.match('[a-zA-Z]+[.]*[_0-9a-zA-Z]*@[a-zA-Z]+.[a-zA-Z]+', mystring))

In [ ]:
mystring = 'abc_xyz@gmail.com. Please communicate at your convenience. My alternate email id is mayank.parikh@abc.xyz'
print(re.findall('[a-zA-Z]+[.]*[_0-9a-zA-Z]*@[a-zA-Z]+.[a-zA-Z]+', mystring))

# Object Oriented Programming with Python

In [ ]:
x = 50
y = [1,2,3,4]
print(type(x))
print(type(y))

## Create Classes in python

1. to define class we create with `class` keyword
2. Variables inside a class is called `attribute`. To access an attribute, we call as - `object_name.attribute`
3. Functions defined inside a class is called as `methods`
4. class methods must have `self` as its first parameter (`self` is general name we use, but you are free to use any name)
5. By using `self` in the method, we pass object itself as a first paramter
6. So, when i call - `object.method()` , this will be converted to `class.method(object)`

In [ ]:
class example:
    name = "John" # attribute - class attribute

    def fun(self): # methods
        print("greetings")
       # pass

In [ ]:
ob1  = example() # create an object

In [ ]:
print(ob1)

In [ ]:
ob1.name

In [ ]:
ob1.fun() # example.fun(ob1)

In [ ]:
#Object attribute
class example:
    name = "John" # attribute - class attribute

    def fun(self): # methods
        self.age = 20 # ob1.age --> object attribute
        print("greetings")
       # pass

In [ ]:
ob1 = example()

In [ ]:
ob1.name

In [ ]:
ob1.fun()

In [ ]:
ob1.age

In [ ]:
ob2 = example()

In [ ]:
ob2.name

In [ ]:
ob2.fun()

In [ ]:
ob2.age

In [ ]:
ob2.age = 30

In [ ]:
ob1.age

In [ ]:
ob1.exp = 50

In [ ]:
ob1.exp

In [ ]:
ob2.exp

## Initialization
If we want to assign the object attributes during creation, we make use of `__init__()` method

In [ ]:
class example:
    def __init__(self,name):
        self.name = name

    def return_name(self):
        print(f"welcome {self.name}")

In [ ]:
object1 = example(name="jack")

In [ ]:
object1.name

In [ ]:
object1.return_name()

### Steps :


1.   System searches for class definition of `example`
2.   creates a new object 
3.   calls the object's `__init__()` method by sending the newly created object as first argument, and the name `jack` as second argument
4.   Stores the value of `name` in the object
5.    Returns a new object
6. Attaches the variable `object1` to the object

### Activity: Create a class as `CAKE` and store the initialized value of flavor & person name into the attributes

In [ ]:
class cake:
    def __init__(self, flavor, name):
        self.flavor = flavor
        self.name = name

In [ ]:
o1 = cake("Strawberry", "John")

In [ ]:
o1.flavor

In [ ]:
o1.name

### Activity: Create a Class that takes input as : radius, and has the methods which return Area & Circumference

In [ ]:
class circle:
    def __init__(self,radius):
        self.radius = radius

    def area(self):
        return f"area is {3.142*self.radius*self.radius}"

    def circumference(self):
        return f"circumference is {2*3.142*self.radius}"

In [ ]:
c1 = circle(5)

In [ ]:
c1.area()

In [ ]:
c1.circumference()

# Object Oriented Concepts in Python - Hands On

# Inheritence

Create a new `class` *from* existing `class`, but with some addition or changes. Its a good way to use the code. 

Example: We perform this inheritence when we are building our own custom model from scratch in Tensorflow. 


```python:
class Car:
  pass

class SUV(Car):
  pass

In [1]:
class Car:
  pass

class SUV(Car):
  pass

In [2]:
issubclass(SUV,Car)

True

### Inherit from parent class

In [3]:
class Car:
  def wheels(self):
      print("I am a FWD car")

class SUV(Car):
  pass

In [4]:
c1 = Car()
c2 = SUV()

In [5]:
c1.wheels()

I am a FWD car

In [6]:
c2.wheels()

I am a FWD car

# Polymorphism

In [7]:
class Car:
  def wheels(self):
    print("I am a FWD car")

class SUV(Car):
  def wheels(self):
    print("I am a 4WD Car")

In [8]:
c1 = Car()
c2 = SUV()

In [9]:
c1.wheels()

I am a FWD car

In [10]:
c2.wheels()

I am a 4WD Car

## Add a new method inside a class

In [11]:
#Add a new method
class Car:
  def __init__(self,name):
    self.name = name

  def wheels(self):
    print(f"I am a FWD {self.name}")

class SUV(Car):
  def __init__(self,name):
    self.name = name

  def wheels(self):
    print(f"I am a 4WD {self.name}")
  
  def seater(self):
    print(f"This {self.name} has 5+ seater")

In [12]:
c1 = Car("Normal Car")
c2 = SUV("SUV Car")2

In [13]:
c1.wheels()

I am a FWD Normal Car

In [14]:
c2.wheels()

I am a 4WD SUV Car

In [15]:
c2.seater()

This SUV Car has 5+ seater

In [16]:
c1.seater()

AttributeError: 'Car' object has no attribute 'seater'

## Multiple Inheritence

In [26]:
class Animal:
  def says(self):
    return "I can speak"

class Horse(Animal):
  def says(self):
    return "Neigh"

class Dog(Animal):
    pass
  # def says(self):
  #   return "Woof"

class Tiger(Animal):
    pass
  # def says(self):
  #   return "Roar"

class Donkey(Animal):
    pass
  # def says(self):
  #   return "Hee-Haw"

class Mule(Donkey,Tiger,Dog):
  pass

In [27]:
m = Mule()

In [28]:
m.says()

'I can speak'

In [29]:
# Method Resolution Order
Mule.mro()

[__main__.Mule,
 __main__.Donkey,
 __main__.Tiger,
 __main__.Dog,
 __main__.Animal,
 object]


Order of check:

1.   Object itself
2.   Object's class
3.   Class's first parent
4.   Class's Second parent
5.   Class's Third parent
6.   Original Class (Animal)

# Encapsulation
## Public - Protected - Private Access Modifiers

## Public Access Modifier:
The members of a class that are declared public are easily accessible from any part of the program. All data members and member functions of a class are public by default.

In [30]:
class Person:
  """ This is a documentation for class Persion """
  def __init__(self,name,email):
    self.name = name
    self.email = email
  
  def get_name(self):
    return self.name
  
  def get_email(self):
    return self.email

In [31]:
p1 = Person("John","john@gmail.com")

In [32]:
p1.name

'John'

In [33]:
p1.email

'john@gmail.com'

In [34]:
p1.name = "Jim"

In [35]:
p1.name

'Jim'

## Protected Access Modifier

The members of a class that are declared protected are only accessible to a class derived from it. Data members of a class are declared protected by adding a single underscore `_` symbol before the data member of that class.

In [36]:
# program to illustrate protected access modifier in a class
 
# super class
class Student:
    
     # protected data members - class variables
     _name = None
     _roll = None
     _subject = None
    
     # constructor
     def __init__(self, name, roll, subject): 
          self._name = name
          self._roll = roll
          self._subject = subject
    
     # protected member function  
     def _displayinfo(self):
          # accessing protected data members
          print("Roll: ", self._roll)
          print("Branch: ", self._subject)
 
 
# derived class
class Person(Student):
 
       # constructor
       def __init__(self, name, roll, subject):
                Student.__init__(self, name, roll, subject)
         
       # public member function
       def displayDetails(self):
                   
                 # accessing protected data members of super class
                print("Name: ", self._name)
                   
                 # accessing protected member functions of super class
                self._displayinfo()
 
# creating objects of the derived class       
obj = Person("Jason", 123456, "Information Technology")
 
# calling public member functions of the class
obj.displayDetails()

Name:  Jason
Roll:  123456
Branch:  Information Technology

## Private Access Modifier:
The members of a class that are declared private are accessible within the class only, private access modifier is the most secure access modifier. Data members of a class are declared private by adding a double underscore __ symbol before the data member of that class.

In [4]:
class MyClass:
    def __init__(self):
        self.public_var = 10
        self._protected_var = 20  # Protected variable
        self.__private_var = 30   # Private variable
    
    def public_method(self):
        print("This is a public method")

    def _protected_method(self):  # Protected method
        print("This is a protected method")

    def __private_method(self):   # Private method
        print("This is a private method")


obj = MyClass()

# Accessing public attributes and methods
print(obj.public_var)
obj.public_method()

# Accessing protected attributes and methods (not recommended but possible)
print(obj._protected_var)
obj._protected_method()

# Accessing private attributes and methods (not recommended and discouraged)
# Note: This is technically possible but discouraged due to name mangling.
# Python name mangling changes the name of the variable in a way that makes it harder to access.
# Here, __private_var becomes _MyClass__private_var
print(obj._MyClass__private_var)
obj._MyClass__private_method()

10
This is a public method
20
This is a protected method
30
This is a private method